<div  class="btn btn-warning btn-sm" id='cart'> <i
	class="fa fa-plus-square"></i> {{ 'app.default.gongdan'|trans }} 
	<span class="badge badge-light">{{ order.itemsSingle }}</span>
	<span class="badge badge-light">{{ order.itemsTotal }}</span>
	<span class="badge badge-info">{{ order.priceTotal }}</span>
</div>

