{% extends 'base.html.twig' %}

{% block title %}编辑用户信息{% endblock %}
{%  block content_header %}
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h4>编辑用户信息</h4>
          </div>
        </div>
 </div>
{% endblock  %}

{% block body %}

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

 
{% endblock %}
