@import "~admin-lte/build/scss/AdminLTE";
//@import "~bootstrap/scss/bootstrap";


$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/css/font-awesome';
html {
 font-size:14px;
}

#cart {
 cursor:pointer;
}
#cart-summary{
 background-color:#FFF8DC;
  white-space: nowrap;
 .product-title { 
   white-space:normal;
   min-width:170px;
   @include media-breakpoint-up(md) {
     white-space: nowrap;   
   }
 }
}
.cart-empty {
  padding:0.5em 1em;
}

#select_belongs_to_form_belongsTo{
  max-width:150px;
}

.table-responsive {
    white-space: nowrap;
}
.item-quantity-column form {
  min-width:60px;
}

.content-header {
  padding:10px 0.5rem;
}

li.user-header {
    background-color: #3c8dbc;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height:auto;
}
.navbar-nav > .user-menu > .dropdown-menu {
  width:260px;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
    color: rgba(255,255,255,0.8);
}


.main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active {

}
.dropdown-menu-middle {
  left:-150%;
}
#select_belongs_to_form,#change_created_form,#clear_cart  {
   .form-group {
      margin-bottom:0;
  }
}

#change_created_form {
  min-width:310px;
 >.form-group {
  float:left;
  .form-control {
    width:auto;
  }
 }
}

.setItemQuantitySelect {
  max-width:70px;
}
