@import "~admin-lte/build/scss/AdminLTE";
//@import "~bootstrap/scss/bootstrap";


$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/css/font-awesome';
html {
 font-size:14px;
}

#cart {
 cursor:pointer;
}
#cart-summary{
 background-color:#FFF8DC;
  white-space: nowrap;
 .product-title { 
   white-space:normal;
   min-width:170px;
   @include media-breakpoint-up(md) {
     white-space: nowrap;   
   }
 }
}
.cart-empty {
  padding:0.5em 1em;
}


.table-responsive {
    white-space: nowrap;
}
.item-quantity-column {
  width:90px;
}

.content-header {
  padding:10px 0.5rem;
}

