 <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img src="/images/logo.png" alt="Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">订单管理系统</span>
    </a>
    
    <nav class="mt-2">
        {{ knp_menu_render('sidebar',{'template': 'menu/knp_menu.html.twig'}) }}
    </nav>
